{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- MAIN STYLE CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- RESPONSIVE CSS-->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <title>PIMS</title>
</head>
<!-- try for nav bar -->



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
<div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a href="/about_pims" class="navbar-brand">About PIMS</a>
                    </div>

                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/pricing">Pricing</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Clients<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/home">Swadesh Properties Ltd</a></li>
                                    <li><a href="#">Concord Real Estate</a></li>
                                    <li><a href="#">Nakshi Homes Ltd</a></li>

                                </ul>
                            </li>
                            <li><a href="#">Documentation</a></li>

                            <li><a href="#">Demo</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <form action="" class="navbar-form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" name="search" id="" placeholder="Search To our site..." class="form-control">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span>{% firstof request.user.get_full_name request.user.username %}</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/accounts/login">Login</a></li>
                                    <li><a href="/accounts/logout/">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>


* {
	box-sizing: border-box;
}

html, body {
    padding:0;
    margin:0;
}

body {
	color: #2c3e50;
	font-size: 1em;
	font-family: 'Source Serif Pro', 'Helvetica Neue', serif;
}

h1,
h2,
h3 {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: #2c3e50;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.header {
	padding: 8.5em 0;
	background-image: url('https://dl.dropboxusercontent.com/u/18570019/header-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.footer,
.header-intro,
.header-name {
	text-align: center;
}

.header-intro {
	margin-bottom: 0em;
	color: #e67e22;
	font-size: 2.25em;
	text-shadow: 0px 1px 0px #d35400;
}

.header-name {
	margin-top: -0.2em;
	color: #89c581;
	font-size: 6.0em;
	text-shadow: 0px 3px 0px #d35400;
	font-weight: 700;
}

.about,
.questions {
	max-width: 37.5em;
	margin: 0 auto;
	margin-top: 3em;
	line-height: 1.5em;
    font-size: 2.25em;
}

.questions h3 {
	color: #e67e22;
}



.social {
	text-align: center;
  margin-left: -2em;
}

.social > li {
	list-style: none;
	display: inline-block;
	margin: 0 1.0em;
}


</style>
<div>

    <div id="colorlib-main">
        <section class="ftco-section contact-section px-md-4">
      <div class="container">
          {% if profile %}
            <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h3">Contact Information</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-6 col-xl-3 d-flex mb-4">
                <div class="info bg-light p-2">
                    <p><span>Address:</span>{{ profile.address }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 d-flex mb-4">
                <div class="info bg-light p-2">
                    <p><span>Phone:</span> <a href="tel://{{ profile.phone_number }}">{{ profile.phone_number }}</a></p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 d-flex mb-4">
                <div class="info bg-light p-2">
                    <p><span>Email:</span> <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 d-flex mb-4">
                <div class="info bg-light p-2">
                    <p><span>Website</span> <a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a></p>
                </div>
            </div>
            </div>
          {% else %}
          <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h3">Contact Information</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-6 col-xl-3 d-flex mb-4">
                <div class="info bg-light p-4">
                    <p><span>Address:</span>House 4 (Flat A1 & A2), Road 4, Block J, Banashree, Dhaka 1219</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 d-flex mb-4">
                <div class="info bg-light p-4">
                    <p><span>Phone:</span> <a href="tel://+8801717087089">+8801717087089</a></p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 d-flex mb-4">
                <div class="info bg-light p-4">
                    <p><span>Email:</span> <a href="mailto:gpadbd@gmail.com">gpadbd@gmail.com</a></p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 d-flex mb-4">
                <div class="info bg-light p-4">
                    <p><span>Website</span> <a href="http://www.gpadbd.net" target="_blank">www.gpadbd.net</a></p>
                </div>
            </div>
            </div>
          {% endif %}
    
        <div class="row block-9">
    
          <div class="col-lg-6 d-flex">



   

              <div class="form contact-form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
                  <button class="btn btn-primary" type="submit">Submit</button>


          </div>
    
        </div>
    
          <div class="col-lg-6 d-flex">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.637415928693!2d90.44292001498154!3d23.760305884584472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c773fc36c1c1%3A0xb1b05c29aba1e7ab!2sGeo-Planning%20for%20Advanced%20Development%20(GPAD)!5e0!3m2!1sen!2sbd!4v1608355200156!5m2!1sen!2sbd" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
 
              <!-- <div id="map" class="bg-light"></div> -->
          </div>
        
      </div>
    </section>
    </div>

</body>
</html>

