{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    `
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'L.Geoserver.js' %}"></script>
    <script src="{% static 'L.leaflet.browser.print.min.js' %}"></script>

    <title>Geo Inmormatics</title>
  </head>
  <!-- try for nav bar -->

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <div class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="navbar-header">
            <button
              class="navbar-toggle"
              data-target="#mobile_menu"
              data-toggle="collapse"
            >
              <span class="icon-bar"></span><span class="icon-bar"></span
              ><span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Swadesh Properties</a>
          </div>

          <div class="navbar-collapse collapse" id="mobile_menu">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Housing Project <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="#">About One</a></li>
                  <li><a href="#">About Two</a></li>
                  <li><a href="#">About Three</a></li>
                  <li><a href="#">About Four</a></li>
                  <li><a href="#">About Five</a></li>
                  <li><a href="#">About Six</a></li>
                </ul>
              </li>
              <li><a href="#">Welcome</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <form action="" class="navbar-form">
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        type="search"
                        name="search"
                        id=""
                        placeholder="Search Anything Here..."
                        class="form-control"
                      />
                      <span class="input-group-addon"
                        ><span class="glyphicon glyphicon-search"></span
                      ></span>
                    </div>
                  </div>
                </form>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#"
                  ><span class="glyphicon glyphicon-user"></span>{% firstof
                  request.user.get_full_name request.user.username %}</a
                >
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  ><span class="glyphicon glyphicon-log-in"></span> Login / Sign
                  Up <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/accounts/login">Login</a></li>
                  <li><a href="/accounts/logout/">Log out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- try for nav bar end -->

  <style>
    #map {
      width: 90%;
      height: 70vh;
    }

    /*Legend specific*/
    .legend {
      padding: 6px 8px;
      font: 14px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255, 255, 255, 0.8);
      /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
      /*border-radius: 5px;*/
      line-height: 24px;
      color: #555;
    }
    .legend h4 {
      text-align: center;
      font-size: 16px;
      margin: 2px 12px 8px;
      color: #777;
    }

    .legend span {
      position: relative;
      bottom: 3px;
    }

    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin: 0 8px 0 0;
      opacity: 0.7;
    }

    .legend i.icon {
      background-size: 18px;
      background-color: rgba(255, 255, 255, 1);
    }
  </style>
  <body>
    <h1 style="text-align: center">Swadesh Properties Ltd</h1>

    <button class="print-map">Print map</button>

    <div id="map">
      <!-- <button onclick='openFullMap()' class="leaflet-control">Full map screen</button> -->
    </div>

    <script>
      var map = L.map("map").setView([23.73626, 90.466523], 7);

      var osm = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          attribution:
            "&copy; <a href='https://openstreetmap.org/copyright'> Openstreet map</a> contributors",
        }
      );

      var darkLayer = L.tileLayer(
        "https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png",
        {
          maxZoom: 20,
          attribution:
            '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
        }
      );

      var watercolor = L.tileLayer(
        "https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}",
        {
          attribution:
            'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          subdomains: "abcd",
          minZoom: 1,
          maxZoom: 16,
          ext: "jpg",
        }
      );

      // For imagery view
      var mapLink = '<a href="http://www.esri.com/">Esri</a>';
      var wholink =
        "i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community";
      var imagery = L.tileLayer(
        "http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
        {
          attribution: "&copy; " + mapLink + ", " + wholink,
          maxZoom: 17,
        }
      );

      var baseLayers = {
        osm: osm,
        // dark: darkLayer,
        "water color map": watercolor,
        "Imagery view": imagery,
      };
      osm.addTo(map);
      L.control.layers(baseLayers).addTo(map);

      // wms layer
      // for color full map in geoserver
      var wmsLayer = L.Geoserver.wms("http://localhost:8080/geoserver/wms", {
        layers: "webgis_101:try_area_k_housing",
      });
      wmsLayer.addTo(map);

      var wfsLayer = L.Geoserver.wfs("http://localhost:8080/geoserver/wfs", {
        layers: "webgis_101:try_area_k_housing",

        style: {
          color: "black",
          fillOpacity: "0",
          opacity: "0.5",
        },

        onEachFeature: function (feature, layer) {
          // eta speific feature er popup dekhanor jonno
          if (feature.properties && feature.properties.Plot_No) {
            layer.bindPopup(
              `<h5>Public Information</h5>
      <h5>Area  Amaount SQFT: ${feature.properties.Area_Sqft}</h5>
      <h5>Katha Amaount: ${feature.properties.Katha}</h5>
      <h5>Plot Number: ${feature.properties.Plot_No}</h5>
      <h5><a href="/accounts/login/">Details</a></h5>`
            );
          }
        },
      });
      wfsLayer.addTo(map);

      // $.getJSON("{% url 'sodeshData' %}", function (data) {
      //     L.geoJSON(data, {
      //   onEachFeature: function (feature, layer) {
      //     layer.bindPopup(
      //       `<h5>area_sqft: ${feature.properties.Area_Sqft}</h5><h5>area_sqft: ${feature.properties.Katha}</h5>`
      //     );
      //   },}).addTo(map);
      // console.log(data);

      // });

      var wfsLayer = L.Geoserver.wfs("http://localhost:8080/geoserver/wfs", {
        layers: "	webgis_101:try_area_k_housing",

        style: {
          color: "black",
          fillOpacity: "0",
          opacity: "0.5",
        },

        onEachFeature: function (feature, layer) {
          // eta speific feature er popup dekhanor jonno
          if (feature.properties && feature.properties.Plot_No) {
            layer.bindPopup(
              `<h5>Area  Amaount SQFT: ${feature.properties.Area_Sqft}</h5>
      <h5>Katha Amaount: ${feature.properties.Katha}</h5>
      <h5>Plot Number: ${feature.properties.Plot_No}</h5>
      <h5>Plot Area Bigha: ${feature.properties.Area_Bigha}</h5>
      <h5>Owner Name: ${feature.properties.Owner_Name}</h5>
      <h5>Father Name: ${feature.properties.Father__}</h5>
      <h5>Spouse Name: ${feature.properties.Spouse_Nam}</h5>
      <h5>Area K: ${feature.properties.Area_k}</h5>
      <h5>Katha ammount : ${feature.properties.new}</h5>
      <h5>Land condition : ${feature.properties.land_cat}</h5>
      <h5>Dimension: ${feature.properties.Dimension}</h5>`
            );
          }
        },
      });
      wfsLayer.addTo(map);

      var layerLegend = L.Geoserver.legend(
        "http://localhost:8080/geoserver/wms",
        {
          layers: "webgis_101:try_area_k_housing",
          style: `try_Area_k`,
        }
      );

      layerLegend.addTo(map);
      // .......
      function openFullMap() {
        map.requestFullscreen();
      }

      $(".print-map").click(function () {
        window.print();
      });

      L.control.browserPrint().addTo(map);

      //         //Geojson style function
      //         function geojsonStyle(feature) {
      //   return {
      //     fillColor: getColor(feature.properties.Katha),
      //     weight: 2,
      //     opacity: 1,
      //     color: "#5e380f",
      //     fillOpacity: 0.7,
      //   };
      // }

      // //GetColor function
      // function getColor(Katha) {
      //   if (Katha == "3.14511696480288") {
      //     return "#008080";
      //   } else if (Katha < 3) {
      //     return "#badd99";
      //   }
      //     else {
      //     return "#c69540";
      //   }
      // }

      //.......

      // for color full image and its legend which is wms layer in geoserver

      /*Legend specific*/
      var legend = L.control({ position: "topleft" });

      legend.onAdd = function (map) {
        var div = L.DomUtil.create("div", "legend");
        div.innerHTML += "<h4>Legend</h4>";
        div.innerHTML +=
          '<i style="background: #E42643"></i><span>Sold plot</span><br>';
        div.innerHTML +=
          '<i style="background: #13a90d"></i><span>Unsold plot </span><br>';
        div.innerHTML +=
          '<i style="background: #31181d"></i><span>Road</span><br>';

        return div;
      };

      legend.addTo(map);
    </script>
  </body>
</html>

<!-- <a href="page3.html" onclick="newPopup('page2.html');">Click here</a> -->

<!-- <h5><a href="accounts/login/">Details</a></h5> -->
